
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

th:first-child,
td:first-child {
    background-color: #d9d9d9;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
